Зарегистрируйтесь на kaggle.com (можно просто использовать аккаунт почты). Скачайте датасет [E-Commerce Shipping Data](https://www.kaggle.com/datasets/prachi13/customer-analytics).

#### Задача 1. 

Изучите содержимое датасета. Проверим, что описание на каггле правильное: какие в датасете есть колонки, какие у них уникальные значения, есть ли пропуски?

In [5]:
import pandas as pd

data = pd.read_csv('Train.csv')

data.head()

data.info()

data.isna().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

ID                     False
Warehouse_block        False
Mode_of_Shipment       False
Customer_care_calls    False
Customer_rating        False
Cost_of_the_Product    False
Prior_purchases        False
Product_importance     False
Gender                 False
Discount_offered       False
Weight_in_gms          False
Reached.on.Time_Y.N    False
dtype: bool

#### Задача 2.

Замените значения в колонке с важностью продукта на цифровые. Примените OHE к колонке Mode_of_Shipment. Удалите колонку с ID.

In [26]:
import pandas as pd

data = pd.read_csv('Train.csv')
data.drop('ID', axis = 1, inplace = True)

# data.info()
data.head()
set(data.Product_importance)
data['Product_importance'] = data['Product_importance'].map({'high': 3, 'medium': 2, 'low': 1})
data.head()
new_cols = pd.get_dummies(data.Mode_of_Shipment, prefix = 'Shipment')
df = pd.concat([data, new_cols], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      10999 non-null  object
 1   Mode_of_Shipment     10999 non-null  object
 2   Customer_care_calls  10999 non-null  int64
 3   Customer_rating      10999 non-null  int64
 4   Cost_of_the_Product  10999 non-null  int64
 5   Prior_purchases      10999 non-null  int64
 6   Product_importance   10999 non-null  int64
 7   Gender               10999 non-null  object
 8   Discount_offered     10999 non-null  int64
 9   Weight_in_gms        10999 non-null  int64
 10  Reached.on.Time_Y.N  10999 non-null  int64
 11  Shipment_Flight      10999 non-null  uint8
 12  Shipment_Road        10999 non-null  uint8
 13  Shipment_Ship        10999 non-null  uint8
dtypes: int64(8), object(3), uint8(3)
memory usage: 977.6+ KB

#### Задача 3. 

Сгруппируйте таблицу по важности продукта.

In [28]:
data.groupby('Product_importance').mean()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
Product_importance,,,,,,,
1,4.110251,2.983576,212.059845,3.528224,13.043043,3497.488956,0.592788
2,4.028607,2.997686,209.382415,3.593605,13.483172,3712.050484,0.590450
3,3.872363,2.993671,203.871308,3.657173,14.666667,4005.551688,0.649789

#### Агрегирование

Теперь поработаем с другим датасетом.

In [ ]:
# df = pd.read_excel("https://github.com/dm-fedorov/pandas_basic/raw/master/%D0%B1%D1%8B%D1%81%D1%82%D1%80%D0%BE%D0%B5%20%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%20pandas/data/salesfunnel.xlsx")
# df.head()
pip install