#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. 

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [66]:
import pandas as pd

df = pd.DataFrame()

for i in range(0,10):
    df_stu = pd.read_csv(f'Data/Students_info_{i}.csv')
    df_marks = pd.read_csv(f'Data/Students_marks_{i}.csv')
    df1 = pd.concat([df_stu, df_marks[['math score','reading score', 'writing score']]], axis = 1)
    df = pd.concat([df, df1])
    
# df.head()
# df.tail()
df.sample(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
65,965,female,group D,some college,standard,none,group10,62,70,72
16,116,female,group B,bachelor's degree,free/reduced,none,group2,75,85,82
88,988,female,group A,some high school,free/reduced,none,group10,44,45,45
92,592,male,group E,bachelor's degree,standard,none,group6,68,68,64
44,244,male,group D,some high school,standard,none,group3,75,74,69
27,527,female,group C,high school,free/reduced,none,group6,36,53,43
42,42,female,group B,associate's degree,standard,none,group1,53,58,65
72,572,female,group C,some college,standard,none,group6,53,62,56
14,814,female,group C,high school,standard,none,group9,72,80,83
8,408,female,group D,high school,free/reduced,completed,group5,52,57,56

#### Задание 2. 

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы. Выведите на экран размеры полученной таблицы.

In [67]:
df.drop('index', inplace=True, axis=1)

df.sample(10)
df.shape

(1000, 9)

#### Задание 3. 

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [68]:
import numpy as np

print('     minimum scores:')
print(np.min(df[['math score', 'reading score', 'writing score']]))

print('\n     mean scores:')
print(np.mean(df[['math score', 'reading score', 'writing score']]))

print('\n     maximum scores:')
print(np.max(df[['math score', 'reading score', 'writing score']]))

print('\n     std of scores:')
print(np.std(df[['math score', 'reading score', 'writing score']]))

     minimum scores:
math score        0
reading score    17
writing score    10
dtype: int64

     mean scores:
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

     maximum scores:
math score       100
reading score    100
writing score    100
dtype: int64

     std of scores:
math score       15.155497
reading score    14.592890
writing score    15.188057
dtype: float64

#### Задание 4. 

Проверьте, есть ли в таблице пропущенные значения

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 78.1+ KB

#### Задание 5. 

Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [70]:
print('\n     mean scores:')
print(np.mean(df[['math score', 'reading score', 'writing score']]))

     mean scores:
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

#### Задание 6. 

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [74]:
# df.columns = df.columns.str.replace(' ', '_')
df.rename(columns = {'test preparation course':'test_preparation_course'}, inplace = True)
df_with_course = df[df.test_preparation_course == 'completed']
df_without_course = df[df.test_preparation_course == 'none']


print('\n     mean scores of students who completed the preparation course:')
print(np.mean(df_with_course[['math score', 'reading score', 'writing score']]))

print('\n     mean scores of students who didn\'t complete the preparation course:')
print(np.mean(df_without_course[['math score', 'reading score', 'writing score']]))

     mean scores of students who completed the preparation course:
math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

     mean scores of students who didn't complete the preparation course:
math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

#### Задание 7. 

Выведите на экран все различные значения из столбца lunch.

In [75]:
set(df.lunch)

{'free/reduced', 'standard'}

#### Задание 8. 

Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [76]:
df.rename(columns = {'parental level of education':'education'}, inplace = True)
df.rename(columns = {'test_preparation_course':'test preparation'}, inplace = True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [98]:
passmark = 50

#### Задание 9. 

Ответьте на вопросы:

    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [99]:

print(f'Доля студентов, сдавших экз по математике:', end = ' ')
print(len(df[df['math score'] > passmark])/len(df))

print(f'Доля студентов, проходивших курс подготовки к экзамену и сдавших экз по математике:', end = ' ')
print(len(df[df['math score'] > passmark & (df['test preparation'] == 'completed')])/len(df))

print(f'Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экз по математике:', end = ' ')
print(len(df[df['math score'] < passmark & (df['test preparation'] == 'none') & (df['gender'] == 'female')]))

Доля студентов, сдавших экз по математике: 0.85
Доля студентов, проходивших курс подготовки к экзамену и сдавших экз по математике: 0.999
Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экз по математике: 0

#### Задание 10. 

С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.

    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# your code here

#### Задание 11.

Выполните задание 11 с помощью циклов. Сравните время выполнения.

In [ ]:
# your code here

#### Задание 12. 

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц (pivot_table). Дополнительно о них почитать можно тут:

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
# your code here

#### Задание 13. 

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# your code here

#### Задание 14. 

Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# your code here

#### Задание 15. 

Переведем баллы в оценки

*Система перевода баллов в оценки*

        [90;100] = A
        [80;90) = B
        [70;80) = C
        [60;70) = D
        [50;60) = E
        [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here